@model ShoppingCart.Models.Producto

@{
    ViewData["Title"] = "Editar";
}

<!-- Vista para editar productos en Admin-->
<h1>Editar Producto</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Imagen" />

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Categorias</label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.Categorias">
                    <option value="0">Escoge una categoria</option>
                </select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Imagen Actual</label>
                <img src="/media/productos/@Model.Imagen" width="200" alt="" />
            </div>

            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="ImagenUpload" class="form-control" />
                <img id="imgpreview" class="pt-2" />
                <span asp-validation-for="ImagenUpload" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Atrás</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
    <script>
        $("#ImagenUpload").change(function () {
            readURL(this);
        });
        CKEDITOR.replace('Descripcion');
    </script>

}