@model IEnumerable<Categoria>

<!-- Muestra una lista de las categorias para filtrar los productos -->
<ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Productos" asp-action="Index" asp-route-CategoriaSlug="">Todos los productos</a>
    </li>

    <!-- Lista de categorias de la DB -->
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a class="nav-link text-dark" 
            asp-controller="Productos" 
            asp-action="Index" 
            asp-route-CategoriaSlug="@item.URLSlug">@item.Nombre</a>
        </li>
    }
</ul>