@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Walmart</h1>
    <p>Compra de todo con nuestro carrito de la compra online!</p>
    <p>
        <a class="btn btn-primary" asp-controller="Productos" asp-action="Index">Iniciar tu compra</a>
    </p>
</div>
